<form #f="ngForm">
    <div class="Form-group">
        <br><br>
        <label for="cep">CEP:</label><br>
        <input type="text" class="Form-control" id="cep" name="cep" ngModel required #cep="ngModel" (blur)="consultaCep(cep.value, f)">

        <br><br>
        <label for="logradouro">Logradouro:</label><br>
        <input type="text" class="Form-control" id="logradouro" name="logradouro" required ngModel #logradouro="ngModel" placeholder="...">

        <br><br>
        <label for="bairro">Bairro:</label><br>
        <input type="text" class="Form-control" id="bairro" name="bairro" ngModel #bairro="ngModel" placeholder="...">

        <br><br>
        <label for="cidade">Cidade:</label><br>
        <input type="text" class="Form-control" id="cidade" name="cidade" ngModel #cidade="ngModel" placeholder="...">

        <br><br>
        <label for="uf">UF:</label><br>
        <input type="text" class="Form-control" id="uf" name="uf" ngModel #uf="ngModel" placeholder="...">

        <br><br>
        <button type="button" (click)="consultaCep2(uf.value, cidade.value, logradouro.value, f)">Não sei meu CEP</button>

        <br><br>
        <button type="button" (click)="resetaDadosForm(f)">Limpar Formulario</button>

    </div>
</form>